@{
    ViewData["Title"] = "Home Page";
}

<form action="/search" method="get">
    <input type="text" name="query" value=""/>
    <button type="submit">Найти</button>
</form>



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <style>
        html {
            background: #0000 url("D:\\UCar\UCar_1\75K5.gif")
        }
   
    </style>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
