@using Microsoft.AspNetCore.Identity
@using UCar.Web.Areas.Identity.Data;
@inject UserManager<AuthUser> UserManager
<div class="col-md-10 offset-md-1">
    <section>
        <form id="account" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Картинка машины</label>
                <input type="file" name="uploadFile" accept="image/jpeg,image/png" required />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Модель машины</label>
                <input type="text" name="Model" required />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Описание машины</label>
                <input type="text" name="Description" required />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Цена</label>
                <input type="number" name="Price" min="0" required />
                <span class="text-danger"></span>
            </div>
            <input type="hidden" name="owner" value="@UserManager.GetUserName(User)" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Продать</button>
            </div>
        </form>
    </section>
</div>
