
<form asp-action="DoConfirmCar" method="post">
    <button type="submit" class="btn btn-primary">Неподтвержденные машины</button>
</form>
<div class="mb-2"></div>
<form asp-controller="Roles" asp-action="Index" method="post">
    <button type="submit" class="btn btn-primary">Управление ролями</button>
</form>
<div class="mb-2" ></div>
<form  asp-action="SolledCars" method="post">
    <button type="submit" class="btn btn-primary">Список проданных машин</button>
</form>