<p>Операция успешно выполнена</p>
<form asp-controller="Worke" asp-action="DoConfirmCar" method="post">
    <button type="submit" class="btn btn-primary">Назад</button>
</form>
<div class="mb-2"></div>
<form asp-controller="Home" asp-action="Index" method="post">
    <button type="submit" class="btn btn-primary">На главную</button>
</form>